/* Reset some default browser styling */

:root {
  --primary-color: #2d3e50;
  --secondary-color: #f0f0f0;
  --accent-color: #ffae00;
  --text-color: #ffffff;
  --background-color: #1c1c1c;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background: linear-gradient(to right, #2d3e50, #1c1c1c);
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: var(--text-color);
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.project-card {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.project-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

footer {
  background-color: #2d3e50;
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}

footer a {
  color: var(--accent-color);
  margin: 0 5px;
  font-size: 1.2rem;
}

footer a:hover {
  color: var(--text-color);
}